@* 仅展示修改片段，把 <ul class="navbar-nav flex-grow-1"> 内加入一项 *@
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Leaderboard">Leaderboard</a>
    </li>
</ul>